
.container{
	width: 75%;
	margin-left:auto;
	margin-right: auto;
	padding-top: 50px;
}
#wrap{
	min-width: 600px;
}
div#wrapperHeader {
	background: url(images/mets.png) repeat top center;
	text-align: center;
	margin-bottom: 60px;

}
div#wrapperHeader div#header {
	width: 100%;
	height: 280px;
	margin: 0 auto;
	
}
div#wrapperHeader div#header img{
	width: 1000px;
	height: 280px;
	margin:0 auto;
}
#header{
	padding-top: 115px;
}

#fancy{
 		border: 0;
    height: 2px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
  
}
#footertext{
	width: 1000px;
	height: 250px;
	margin-right: auto;
	margin-left: auto;
		
	position: relative;

}
#footerTopBar{
	height:55px;
	width:100%;
	background-color:#555;

}
#footTopBar{
		margin-top:0;
}
#footer{
	height: 55px;
	width: 100%;
	background-color: #ccc;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#356aa0), to(#CCC));
	background: -moz-linear-gradient(top, #3374BC 0%, #CCC 100%);
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	-webkit-transition: all 500ms ease;
	moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
#footer:hover{
	height:200px;
	width:100%;
	margin-right: auto;
	margin-left: auto;

}
#greets{
	color: white;
	background-color: black;
	width: 420px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;

}